<VirtualHost *:80>
	ServerName	tp_project_name

	WSGIDaemonProcess tp user=tp_worker group=tp_worker threads=5 python-path=/home/$user/tp_project/tp
	WSGIScriptAlias / /home/$user/tp_project/tp/tp/tp.wsgi

	Alias /static /home/$user/tp_project/tp/tp/web/static
	<Directory /home/$user/tp_project/tp/tp/>
	        WSGIProcessGroup tp
        	WSGIApplicationGroup %{GLOBAL}
		Order deny,allow
	        Allow from all
	</Directory>

        Alias /sphinx /home/$user/tp_project/tp/docs/build/html/
        <Directory /home/$user/tp_project/tp/docs/build/html>
                Order deny,allow
                Allow from all
        </Directory>

	ErrorLog /home/$user/tp_project/tp/tp/error.log
</VirtualHost>
